In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('learningSet.csv')
df = pd.DataFrame(df)

C:\Users\jordi\AppData\Local\Temp\ipykernel_22428\1379126022.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('learningSet.csv')

In [3]:
df.dtypes

ODATEDW       int64
OSOURCE      object
TCODE         int64
STATE        object
ZIP          object
             ...
MDMAUD_R     object
MDMAUD_F     object
MDMAUD_A     object
CLUSTER2    float64
GEOCODE2     object
Length: 481, dtype: object

Check null values in the numerical columns

In [4]:
df_num = df.select_dtypes(np.number)

In [16]:
#determine null values in a percentage form
null_percentage = (df_num.isnull().sum() / len(df_num)) * 100
null_df = null_percentage.sort_values(ascending=False)
null_df.head(20)

RDATE_5     99.990567
RAMNT_5     99.990567
RDATE_3     99.746363
RAMNT_3     99.746363
RDATE_4     99.705488
RAMNT_4     99.705488
RAMNT_6     99.186685
RDATE_6     99.186685
RDATE_15    92.388798
RAMNT_15    92.388798
RDATE_23    91.763091
RAMNT_23    91.763091
RAMNT_20    91.732696
RDATE_20    91.732696
RAMNT_7     90.677273
RDATE_7     90.677273
RDATE_17    90.146942
RAMNT_17    90.146942
RAMNT_21    90.029556
RDATE_21    90.029556
dtype: float64

Clean columns :

GEOCODE2, WEALTH1, ADI, DMA,and MSA

In [27]:
df = df[['GEOCODE2', 'WEALTH1', 'ADI','DMA','MSA']]

In [8]:
df['GEOCODE2']

0        C
1        A
2        C
3        C
4        A
        ..
95407    C
95408    A
95409    B
95410    A
95411    C
Name: GEOCODE2, Length: 95412, dtype: object

In [25]:
df['GEOCODE2'].isna().sum()

132

In [30]:
df['GEOCODE2'].isnull().sum()

132

as we have little null values, we can just drop them

In [29]:
df['GEOCODE2'] = df['GEOCODE2'].dropna()

In [9]:
df['WEALTH1']

0        NaN
1        9.0
2        1.0
3        4.0
4        2.0
        ...
95407    NaN
95408    9.0
95409    NaN
95410    NaN
95411    8.0
Name: WEALTH1, Length: 95412, dtype: float64

In [40]:
df['WEALTH1'].isnull().sum() / len(df) * 100

46.882991657233895

almost 50% of the data is null, we can drop it

In [42]:
df = df.drop('WEALTH1', axis=1)

In [34]:
df['ADI']

0        177.0
1         13.0
2        281.0
3         67.0
4        127.0
         ...
95407      0.0
95408    201.0
95409     61.0
95410     13.0
95411    355.0
Name: ADI, Length: 95412, dtype: float64

In [35]:
df['ADI'].isnull().sum() / len(df) * 100

0.1383473776883411

In [11]:
df['DMA']

0        682.0
1        803.0
2        518.0
3        862.0
4        528.0
         ...
95407    743.0
95408    618.0
95409    551.0
95410    803.0
95411    550.0
Name: DMA, Length: 95412, dtype: float64

In [36]:
df['DMA'].isnull().sum() / len(df) * 100

0.1383473776883411

In [12]:
df['MSA']

0           0.0
1        4480.0
2           0.0
3        9340.0
4        5000.0
          ...
95407     380.0
95408    3360.0
95409    4040.0
95410    8735.0
95411    9200.0
Name: MSA, Length: 95412, dtype: float64

In [37]:
df['MSA'].isnull().sum() / len(df) * 100

0.1383473776883411

The other columns have similar amount of nulls, we can drop the null values and conitnue with our exploration

In [44]:
df = df.dropna()

In [45]:
df.isna().sum()

GEOCODE2    0
ADI         0
DMA         0
MSA         0
dtype: int64